{{ define "main" }}
<article>
    <header id="post-header">
        <!-- renderTitle - if true, show title, otherwise don't
             By default rendertitle = true -->
        {{- if (not (isset .Params (lower "renderTitle"))) | or (eq .Params.renderTitle true) -}}
            <h1>{{ .Title }}</h1>
        {{- end -}}
        {{- if isset .Params "date" -}}
            <time>{{ .Date.Format "January 2, 2006" }}</time>
        {{- end -}}
    </header>
    {{- .Content -}}
</article>
{{ end }}
