<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ with .Site.Params.description -}}
        <meta name="description" content="{{ . }}">
    {{- end -}}

    <!-- Add favicon entries if the files exists -->
    <!-- Files created based: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
    {{ $favi1 := (dict "manifest.webmanifest" "manifest" ) -}}
    {{ $favi2 := (dict "icon.svg" "icon" ) -}}
    {{ $favi3 := (dict "favicon.ico" "alternate icon" ) -}}
    {{ $favi4 := (dict "apple-touch-icon.png" "apple-touch-icon" ) -}}
    {{ $favicon_links := $favi1 | merge $favi2 | merge $favi3 | merge $favi4 -}}
    {{- range $file_name, $link_val := $favicon_links -}}
        {{- $static_file := (path.Join "static" $file_name) -}}
        {{- if (fileExists $static_file ) -}}
            {{ printf `<link rel="%s" href="%s">` $link_val ($file_name | relURL) | safeHTML }}
        {{- end }}
    {{ end }}

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $resources := slice -}}
    {{ $resources = $resources | append (resources.Get "css/main.css") -}}
    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
        {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    {{ partial "seo_schema" . }}

    <!-- Add GoogleAnalytics support -->
    {{ partial "google_analytics.html" . }}

    <title>{{ .Title }}</title>
</head>
